@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize-opentype.css v0.2.4 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix
 * 2. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
 *    Turn off all other ligatures, tabular, lining numerals, and alternates
      Uses same settings for tables
 * 3. Hard-codes fallback text selection for issue #18, color is Chrome’s per via http://stackoverflow.com/a/16094931/864799
 */
::selection {
  color: inherit;
  /* 1. */
  text-shadow: inherit;
  /* 2. */
  background-color: #ACCEF7;
  /* 3. */ }

html,
body,
table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */ }

/* Headings
========================================================================== */
/**
 * 1. Turn on discretionary ligatures for larger headings
 */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */ }

/* Text-level semantics
========================================================================== */
/**
 * 1. Change all letters to uppercase
 * 2. Turn on small caps for upper and lowercase letters
 */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */ }

/*
 * TODO: Turn on diagonal fractions where appropriate
 */
time {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

/*
 * 1. Turn off kerning and ligatures,
 *    Turn on lining, tabular numerals, slashed zero
 */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/**
 * 1. Turn on proper supercript numerals
 */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */ }

/**
 * 1. Turn on proper subscript numerals
 */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */ }

/* Grouping content
========================================================================== */
/**
 * TODO: Adds proper bullets
 */
/*
 * TODO:
 * 1. Adds counters for lists
 * 2. Use proper numerals for lists
 */
/**
 * Adds proper small caps
 */
/**
 * TODO: scmp, sc2c, pnum, case sensitive forms for postal codes
 */
/* Forms
========================================================================== */
/**
 * 1. Turns on lining, proportional numerals without clarified zeroes
 * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
 */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */ }

/* Localisation
========================================================================== */
/* Tables
========================================================================== */
/**
 * 1. Turns on tabular, lining numerals and slashed zero
 */
tbody,
caption {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

html, body {
  width: 100%;
  height: 100%;
  background: white;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;

}


.logo{
  position: fixed;
  height: 25vmin;
  width: 25vmin;
  bottom: 2vw;
  right: 2vw;
  z-index: 29;
}
.logo, .ebLogo{
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
.scrollDown{
  text-decoration: none;
}
.scrollDown:hover{
  text-decoration: underline;
}
.logo:hover, .ebLogo:hover{
  transform: scale(1.1);
}
.header{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.words, .graphics{
  width: 50%;
}
.words{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  color: black;
}
.words a{
  color: black;
}
.graphics{
  background: #99dfda;

  animation: 10s linear 0s infinite alternate bg_change;
}

@keyframes bg_change {
  0% { background: #FF8A76; }
  20% { background: #E94E3E; }
  40% { background: #B48C4E; }
  60% { background: #B67102; }
  80% { background: #04C957; }
  100% { background: #00B3C8; }
}


.noScroll{
  overflow: hidden;
}

.wordList{
  padding: 0;

}
.card {
  width: 50vw;
  height: 75vh;
  margin-left: -5vw;
  margin-top: -37vh;
  opacity: 0;
  pointer-events: none;
  z-index: 90;
  mix-blend-mode: overlay;
}

h1 {
  font-size: 7vw;
  line-height: 8vw;
  text-align: left;
  color: white;
  position: relative;
}

h2{
  font-size: 3vw;
  line-height: 3.5vw;
  padding: 2vw;
}

.emotion {
  width: 100%;
  cursor: pointer;
  padding: 10vh 2vw;
  user-select: none;
}
  .emotion .card {
    position: absolute;
  }

.emotion:hover{
  /* cursor: none; */
}
.emotion:hover .card {
  opacity: 1;
}

.hoverable .emotion:hover h1{
  text-decoration: underline ;
}

.emotionData{
  background: darkgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.desc{
  font-size: 3.5vw;
  line-height: 4vw;
}

.quote{
  position: relative;
  font-size: 1.5vw;
  line-height: 2vw;

  font-family: 'Montserrat', sans-serif;
}

.byLine{
  margin-top:2vw;
  display: block;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 2vw;
}

.emotionData p{
  width: calc(50% - 5vmin);
  padding: 5vmin 5vmin 5vmin 50%;

}
.showHeader{
  z-index: 9999;
  color:black;
}

footer{
  padding: 2vw;
  color: black;
}
.footerContents{
  width: 66%;
}
footer p{
  font-size: 3vw;
  line-height: 3.5vw;
  padding: 4vw 0 0;
}
footer h1{
  color: black;
}
.ebLogo{
  width: 50%;
  padding: 4vw 0 2vw;;
  display: block;
}
.mouse{
  width: 4vw;
  height: 4vw;
  position: absolute;
}

/* .quote:before {
    content: open-quote;
    position: absolute;
    font-size: 92px;
    mix-blend-mode: overlay;
    opacity: .2;
    top: 24px;
    right:0;
}
.quote:after {
    content: no-close-quote;
} */
/*
.tableOfContents{
  background: white;
  color: black;
}
.tableOfContents .wordList{

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tableOfContents .emotion{
  width: 20%;
  height: auto;
  padding: 0;
  cursor: auto;
  background: white !important;
  color: black;
  padding: 24px;
  box-sizing: border-box;
}

.tableOfContents h1{
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: black;
}

.emotion:hover h1{
  text-decoration: none;
}

.tableOfContents p{
  width: 100%;

}

.tableOfContents .card{
  width: 8vw;
  height: 8vw;
  margin-top: 0;
  position: relative;
  opacity: 1;

}
.tableOfContents .emotionData{
  display: block !important;
  position: relative;
  width: 100%;
  height: auto;
  background-color: white !important;

}

.tableOfContents .desc{
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.tableOfContents .quote{

  padding: 0;
  display: none;
}

.tableOfContents .byline{

  padding: 0;
  display: none;
} */


@media (min-device-width: 320px) and (max-device-width: 480px) {
  .header{
    flex-direction: column-reverse;
    height: auto;
  }

  .graphics, .words{
    width: 100%;
  }
  .graphics{
    display: none;
  }

  h2{
    font-size: 36px;
    line-height: 42px;
  }
  .footerContents{
    width: 100%;
  }
  footer p, .desc, .quote, .byLine {
    font-size: 16px;
    line-height: 24px;
  }
  .emotion{
    box-sizing: border-box;
    padding: 4vw;
    display: flex;
  flex-direction: column-reverse;
  }
  .emotionData{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .emotionData p{
    width: 100%;
    padding: 0;
  }
  .emotion .card{
    position: relative;

  }
  .card{
    margin-top:0;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 4vw  0;
    order: 1;
  }
  .emotion h1{
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 56px;
    order: 2;
  }
  footer{
    padding: 4vw;
  }
  .ebLogo{
    padding: 9vw 0;
  }
  .logo{
    z-index: 9999999;
  }
  .quote, .byLine{
    margin-top: 24px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (device-width: 768px) {
  .header{
    flex-direction: column-reverse;
    height: auto;
  }

  .graphics, .words{
    width: 100%;
  }
  .graphics{
    display: none;
  }
  h1{
    font-size: 90px !important;
    line-height: 100px !important;
  }
  h2{
    font-size: 36px;
    line-height: 42px;
  }
  .footerContents{
    width: 100%;
  }
  footer p, .desc, .quote, .byLine {
    font-size: 24px;
    line-height: 36px;
  }
  .emotion{
    box-sizing: border-box;
    padding: 4vw;
    display: flex;
  flex-direction: column-reverse;
  }
  .emotionData{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .emotionData p{
    width: 100%;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
  }
  .emotion .card{
    position: relative;

  }
  .card{
    margin-top:0;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 4vw  0;
    order: 1;
  }
  .emotion h1{
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 56px;
    order: 2;
  }
  footer{
    padding: 4vw;
  }
  .ebLogo{
    padding: 9vw 0;
  }
  .logo{
    z-index: 9999999;
  }
  .quote, .byLine{
    margin-top: 24px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (device-width: 1024px) {

  .emotionData{
    width: 50% !important;
  }
  h1{
    font-size: 10vw !important;
    line-height: 11vw !important;
    order:1 !important;
    width: 100%;
  }

  .emotionData{
    order:2 !important;
  }
  .emotionData p{
    font-size: 24px;
    line-height: 36px;
  }
  .card{
    order: 3 !important;
  }
  h2{
    font-size: 36px;
    line-height: 42px;
  }
  .footerContents{
    width: 100%;
  }
  footer p, .desc, .quote, .byLine {
    font-size: 16px;
    line-height: 24px;
  }
  .emotion{
    box-sizing: border-box;
    padding: 4vw 0 4vw 4vw;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  }
  .emotionData{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .emotionData p{
    width: 100%;
    padding: 0;
  }
  .emotion .card{
    position: relative;

  }
  .card{
    margin-top:0;
    opacity: 1;
    width: 50% !important;
    margin: 0;
    padding:  0;
    order: 1;
  }
  .emotion h1{
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 56px;
    order: 2;
  }
  footer{
    padding: 4vw;
  }
  .ebLogo{
    padding: 9vw 0;
  }
  .logo{
    z-index: 9999999;
  }
  .quote, .byLine{
    margin-top: 24px;
    font-size: 24px;
    line-height: 36px;
  }
}
