// styles.scss
html, body{
	width: 100%;
	height: 100%;
	background: grey;

	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body{
	position: relative;

}
.card{
	width: 30vw;
	height: 50vh;
	margin-left: -15vw;
	margin-top: -25vh;
	opacity: 0;
	pointer-events: none;
}


h1{
	font-size: 15vw;
	line-height: 15vw;
	text-align: left;
	color: rgba(255,255,255,.5);
}

.emotion{
	width: 100%;

	div{
		position: absolute;

	}


}
.emotion:hover h1{
	color: black;
}
.emotion:hover .card{
	opacity:1;
}
